* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background: rebeccapurple;
    color:white;
    text-align: center;
    
}

h1,h2,h3 {
    text-align: center;
}
main {
    text-align: center;
    color:whitesmoke;  
    background-image: url(galaxia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

p {
    text-align: center;
}

form {
    text-align: center;
}

nav {
    background-color: aqua;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    width: 130px;
    margin: 0 15px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    text-align: center;
}

.menu li a {
    display: block;
    padding: 15px 0;
    color: rebeccapurple;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color:rebeccapurple;
    color: white;
}
header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url(https://www.revistaadios.es/fotos/noticias/Datos.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

header h1 {
    color:bisque;
    margin-left: 10px;
    padding-left: 10px;
    
}