
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background: rebeccapurple;
    color:white;
    text-align: center;
    
}

nav {
    text-align: center;
    background-color: aquamarine;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
h1,h2 {
    text-align: center;
}
main {
    text-align: center;
    color:whitesmoke;
    
    background-image: url(galaxia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}